<div id="headshot"></div>
<div id="hometext">
	<h1>Hello & welcome.</h1>
	<p>
    	My name is Jenny and I am passionate about helping startups grow and scale by focusing on the customer. In the world of SaaS customer success, a new field, is becoming increasingly important. 
	</p>
	<p>
		I believe in elevating the customer relationship. Focusing on scalable and sustainable customer education and onboarding is the best way for companies to reduce churn, increase revenue and keep ARR clients coming back year after year.
	</p>
</div>
