<div id="headshot"></div>
<div id="hometext">
	<h1>Hello & welcome.</h1>
	<p>
		My name is Jenny and I am passionate about helping startups and other high tech companies grow and scale by focusing on the customer.
	</p>
	<p>
		I believe in elevating the customer relationship by focusing on scalable and sustainable customer support. Including customer education and onboarding to reduce churn, increase revenue and keep ARR clients coming back year after year.
	</p>
	<p>
		Let's chat about how I can help support your team and customers.
	</p>
</div>
