<div class="Vestly">
	<h1 class="Vestly__headline">Vest.ly</h1>

	<section class="Vestly__wrapper">
		<div class="Vestly__countdown">
			<div class="Vestly__timeBox">
				<div>{{ Vestly.d }}</div>
				<div class="Vestly__timeLabel">D</div>
			</div>

			<div class="Vestly__timeBox">
				<div>{{ Vestly.h }}</div>
				<div class="Vestly__timeLabel">H</div>
			</div>
			
			<div class="Vestly__colon">:</div>
			
			<div class="Vestly__timeBox">
				<div>{{ Vestly.m }}</div>
				<div class="Vestly__timeLabel">M</div>
			</div>
			
			<div class="Vestly__colon">:</div>
			
			<div class="Vestly__timeBox">
				<div>{{ Vestly.s }}</div>
				<div class="Vestly__timeLabel">S</div>
			</div>
		</div>
	</section>
</div>
